<h1><%= @user.name %></h1>

<%= 'ADMIN' if @user.admin %>

<h3><%= flash[:ride_message] %></h3>

<ul>
  <li>
    Mood: <%= @user.mood %>
  </li>
  <li>
    Tickets: <%= @user.tickets %>
  </li>
  <li>
    Height: <%= @user.height %>
  </li>
</ul>

<h3><%= link_to "See attractions", attractions_path %></h3>

<%= link_to("Log Out", session_destroy_path, :method => "delete") %>
