<h1><%= @attraction.name %></h1>

<%= form_for @attraction, :url => ride_attraction_path(@attraction), :method => "POST" do |f| %>
  <form action="/attractions/<%= @attraction.id %>/ride", method="POST">
  <%= f.submit "Go on this ride" %>
<% end %>

<%= link_to "Edit Attraction", edit_attraction_path(@attraction) if current_user.admin %>
